photo{
    .image{
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
    .scroll-content {
        padding-bottom: 56px;
    }
}