page-home {
    ion-header {
        .item-md {
            background: linear-gradient(to right, rgba(173, 189, 132, 1) 0%, rgba(206, 215, 184, 1) 38%, rgba(245, 245, 245, 1) 82%, rgba(245, 245, 245, 1) 97%);
        }
    }
    .scroll-content {
        display: flex;
        align-items: center;
        padding-bottom: 0 !important;
        .list-md {
            margin: 0 auto;
            min-width: 80%;
            max-width: 80%;
            .item-md [item-start]{
                margin-top:38px;
            }
        }
    }
    .color-red {
        color: red;
    }
    .color-green {
        color: green;
    }
}