complete-order {
    .scroll-content {
        border: 5px solid #adbd84;
    }
    h1 {
        padding: 10px;
    }
    .logo {
        width: 100%;
        background-repeat: no-repeat;
        height: 80vw;
        background-position: center;
        background-image: url("../assets/imgs/logo.png");
        background-size: contain;
    }
    .button-md {
        width: 100%;
        font-size: 3.5vw;
    }
}