order-info{
    .content-md{
        background-image: url('../../../../assets/imgs/one.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 1.3em;
        color: white;
    }
    *[head-text]{
        font-weight: 600;
    }
}