<ion-header mode="md">
    <ion-navbar>

    </ion-navbar>
</ion-header>
<ion-content no-scroll>
    <button  ion-button full (tap)="presentPrompt()" *ngIf="historyAddresses?.length">{{"from_my_addresses" | translate}}</button>

    <map [address]="address" #map id="map" (close)="setNewAddress($event)"></map>

    
      
    <ion-list class="comments" >
            <ion-item class="text-area-comments">
                    <ion-label color="primary" floating>{{ "comment" | translate}}</ion-label>
                    <ion-textarea [(ngModel)]="comment"></ion-textarea>
            </ion-item>
    </ion-list>
      
            
        
   

    <ion-item no-lines>
        <ion-label color="primary">{{"possible" | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="fast"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="!fast">
        <ion-label color="primary" floating>{{"date" | translate}}</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm" monthNames="" [min]="getNow()"  [monthShortNames]="monthNameLocal" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

    <!-- <ion-item>
        <ion-label color="primary" floating>{{"prom_code" | translate}}</ion-label>
        <ion-input [(ngModel)]="promo_code" type="text"></ion-input>
    </ion-item> -->

</ion-content>
<ion-footer>
    <button ion-button full (click)="completeOrder()" [disabled]="!address?.address || (!fast && !myDate)" >{{"confirm_all" | translate}}</button>
</ion-footer>