about-us-page {
    .scroll-content {
        padding-bottom: 56px;
    }
    .logo{
        width: 100%;
        height: 80vw;
        background-image: url('../assets/imgs/Background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid white;
        border-radius: 10px;
    }    
    *[green-light] {
        color: white; //color;
    }
    *[bold] {
        font-weight: bold;
    }
    *[head] {
        font-size: 1.19em;
    }
    *[red]{
        color:red;
    }
    *[border-bottom]{
        border-bottom:1px solid  white; //color;
    }
    ion-col{
        color: white
    }
}