about-us-page {
    .scroll-content {
        padding-bottom: 56px;
    }
    *[green-light] {
        color: white; //color;
    }
    *[bold] {
        font-weight: bold;
    }
    *[head] {
        font-size: 1.19em;
    }
    *[red]{
        color:red;
    }
    *[border-bottom]{
        border-bottom:1px solid  white; //color;
    }
    ion-col{
        color: white
    }
}