// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*[top] {
    top: 56px;
    padding-top: 56px;
}
.toast-message{
    text-align: center;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
 .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
 .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color:white; //color;
    box-shadow : inset 0 -1px 0 0 white; //color;
}
.item-md.activated{
    background-color: transparent;
}

.alert-md{
    .alert-wrapper{
        .alert-radio-label{
            color: white;
        }
        .alert-radio-group{
            border-top: 0;
            border-bottom: 2px solid white;
            // background: rgba(0,0,0,0.2);
            // .alert-radio-icon{
            //     border-color: rgba(0,0,0,0.7);;
            // }
            // .alert-radio-inner{
            //     background: rgba(0,0,0,0.7);;       
            // }
            // .alert-tappable{
            //     .alert-radio-label{
            //         color: rgba(0,0,0,0.7);;
            //     }
            // }
        }
        background-color: rgba(0,0,0,0.8); //color;
        border:2px solid white;
        color: white !important;
    }
    .alert-button-group{
        
        .button-inner{
            color: white;
        }
        
    }
    .alert-message{
        text-align: center;
        font-weight: bold;
        color: white;
    }
}
.alert-md .alert-button-group, .alert-ios .alert-button-group{
    //margin-right: 17px;
    .alert-message{
        text-align: center;
    }
    justify-content: center;
}
.list-ios .item-block .item-inner {
    min-height: 50px;
    max-height: 50px;
}

.toast-md .toast-message {
    background: transparent;
    color: white;
    font-size: 1.7rem;
    min-height: 56px;
    max-height: 56px;
}

.toolbar-background-md {
    //background: linear-gradient(to right, rgba(173, 189, 132, 1) 0%, rgba(206, 215, 184, 1) 38%, rgba(245, 245, 245, 1) 82%, rgba(245, 245, 245, 1) 97%);
    background: transparent;
}
ion-app {
    ion-input{
        color: white !important;
    }
    &::after{
            content : "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background : rgba(0,0,0,0.7);
            z-index: -1;
        
    }
    background-color: rgba(0,0,0,0.5);
    background-image: url('../assets/imgs/one.jpg');
    background-position: 25% center;
    background-size: cover;
}
ion-icon{
    color: white; //color;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border: 0;
}
.button-ios, .button-md{
    background-color: transparent; //color;
    border: 2px solid white;
    color: white;
    .button-inner{
        font-weight: bold;
        text-transform: uppercase;
    }
}
ion-menu{
    background: rgba(0,0,0,0.3);
    button{
        background: transparent;
    }
    .toolbar-title-md{
        color: white;
    }
    ion-header{
        background: black; //color;
        border-bottom: 2px solid white;
    }
    .scroll-content{
        background: transparent;
        .ion-list{
            background: rgba(0,0,0,0.3);
            .item-md{
                border: 0 !important;
            }
        }
        button{
            background: rgba(0,0,0,0.5);
            color: white;
            .item-inner{
                border: 0 !important
            }
        }
    }
    .menu-inner{
        background: rgba(0,0,0,0.5) !important;
    }
}
ion-item{
    background: transparent !important;
}
.loading-md .loading-wrapper{
    .loading-content{
        color: white;
    }
    background-color: rgba(0,0,0,0.8); //color;
    border: 2px solid white;
    circle{
        stroke: white;
    }
}
ion-item-sliding {
    background-color: transparent !important;
    border-top: 2px solid white; //color;
    border-bottom: 2px solid white; //color;
    margin-top: 16px;
    ion-item-options{
        background: transparent  !important;
        border: 0 !important;
        button{
            min-width: 0px;
            width: 100px;
            height: 100%;
            background-color: transparent !important;
        }
    }
    .item{
        color: white;
        background: #21262c !important;
        button{
            background: transparent !important;
            border: 1px solid white;
            color: white !important;
        }
        height: 100px;
        ion-icon{
            color: white;
        }
    }
    
}
// *[bg] {
//     background-image: url('../assets/imgs/one.jpg');
//     background-position: center;
//     background-size: cover
// }
.header-md::after{
    display: none;
    //box-shadow: 0 10px 1px white; //color;
}
.tabbar{
    // a{
    //     border: 1px solid white; //color !important;
    // }
    
    background: transparent !important;
    .tab-button{
        background: transparent !important
    }
}
.back-button{
    color: white; //color;
  }
.modal-wrapper{
    button{
        background: transparent;
        color: white; //color !important;
        ion-icon{
            color: white; //color !important;
        }
    }
    &::after{
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background : rgba(0,0,0,0.7);
        z-index: -1;
    
}
    background-image: url('../assets/imgs/one.jpg');
    background-position: 25% center;
    background-size: cover; 
}

.content-md{
    background: transparent;
    .scroll-content, .fixed-content{
        background: transparent;
    }
}
    
    
    //background-color: rgba(0,0,0,0.5);

.alert-md .alert-button-group{
    //padding-left: 8px;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        ion-header{
            margin-top: 30px;
        }
        ion-menu {
            margin-top: 0;
            ion-header { 
                margin-top: 0;
            }
        }
        orders-register{
            .from_my_cars{
                margin-top: 46px !important
            }
        }
        complete-order{
            ion-grid{
                margin-top: 30px !important;
            }
        }
        about-us-page, new-orders, old-orders, services-and-prices, user-account{
            .scroll-content{
                padding-bottom: 86px !important;
            }
        }
        user-account, orders-list, order-address{
            content .content-md{
                margin-top: 0;
            }
            *[topIphone]{
                top: 30px;
            }
            *[top] {
                top: 30px;
            }
        }
        *[top] {
            top: 86px;
        }
        *[close-button-margin]{
            margin-top: 35px;
        }
    }

/*
.pac-container{
    position: absolute;
    z-index:  9999999999999;
    .pac-item{
        z-index:  9999999999999;
    }
  }
  */