<absolute-header [pageName]='pageName'></absolute-header>
<ion-content top>

    <!-- <ion-row margin-bottom>
                    <ion-col green-light>
                        {{"from_discount" | translate}}
                    </ion-col>
				</ion-row>
			-->
    <!-- <ion-row text-center align-items-center *ngFor = "let urls of carUrls">
            <ion-col col-4></ion-col>
            <ion-col border-left  margin-bottom *ngFor = "let url of urls" >
                <ion-img [ngClass]="{'small' : small(url), 'middle' : middle(url), 'big' : big(url)}" [src]="url"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row align-items-center border-top margin-bottom *ngFor="let info of washInfo" border-bottom text-left>
            <ion-col col-4 no-padding border-right>
                {{info[0] | translate}} 
            </ion-col>
            <ion-col  no-padding text-center>
                {{info[1]}} {{"price" | translate}}
            </ion-col>
            <ion-col  border-left no-padding text-center>
                {{info[2]}} {{"price" | translate}}
            </ion-col>
            <ion-col border-left no-padding text-center>
                {{info[3]}} {{"price" | translate}}
            </ion-col>
        </ion-row> -->
    <!-- <ion-row align-items-center border-top-bottom  *ngFor="let price of priceInfo" margin-bottom>
            <ion-col col-4 border-right>
                {{price[0] | translate}} + {{'nano_cleaning' | translate}}
            </ion-col>
            <ion-col  no-padding text-center>
                {{price[1]}} {{"price" | translate}}
            </ion-col>
            <ion-col border-left no-padding text-center>
                {{price[2]}} {{"price" | translate}}
            </ion-col>
            <ion-col border-left no-padding text-center>
                {{price[3]}} {{"price" | translate}}
            </ion-col>
		</ion-row>
    -->
    
    <div style="text-align:center;">
        <div class="vurt">
        
        </div>
        <div>
            <img src="assets/imgs/sedan.png" width="80px" style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/imgs/hachback.png" width="80px" style="display:inline-block;">
            <p> Կուպեի / Հետչբեքի / Սեդանի լվացում <br> 1500-2500 դրամ</p>
            </div>
            <img src="assets/imgs/jeep.png" width="80px" style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/imgs/minivan.png" width="80px" style="display:inline-block;">
            <p> Ամենագնացի / Քրոսովերի / Մինիվենի լվացում <br> 2000-4500 դրամ</p>
            <img src="assets/imgs/salon.png" width="80px" style="display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="assets/imgs/tapq.png" width="80px" style="display:inline-block;">
            <p>Սրահի մաքրում / Թափքի լվացում</p>
    </div>

</ion-content>