menu-page {
    .alert-md .alert-button-group, .alert-ios .alert-button-group{
        margin-left:34px;
    }
    button {
        .item-inner {
            padding-left: 16px;
        }
    }
    .bg-btt {
        //background-color: #bfd6a1
        color: #a9a0a0 !important;
        font-weight: bold;
    }
    /*.myClass{
        font-size: 0.9em;
    }*/
}